@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*{
    text-align: center;
    justify-content: center;
    justify-items: center;
    text-transform: uppercase;
}

#videoFundo{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
    z-index: -1;
}

p{
    font-size: 22px;
    color: rgb(208, 255, 0);
    font-family: "Indie Flower", cursive;
}

.textoFinal{ /*DEIXEI ESSA CLASSE PRA MODIFICAR O FINAL DOS PARAGRAFOS. TO ME BASEANDO NO SITE DA PUPPET COMBO*/
    font-family: "Permanent Marker", cursive;
    text-decoration: line-through;
}

h2{
    color: red;
    font-size: 10px
}

body{
    background-color: black; 
}

.info{
    width: 100%;
    background-color: transparent;  /*DECIDAM DEPOIS SE VAI DEIXAR UM TITULO COM O NOME DA EMPRESA NO TOPO DO SITE*/  
}

.info h1{
    text-align: center;
    color: rgb(218, 38, 224);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ap{
    width: 560px;

}

.cd{
    background: rgba(0, 0, 0, 0.5);
    
    backdrop-filter: blur(3px);
    height: 100%;
    width: 900px;
    border-radius: 8px;
    text-shadow: 1px 1px 1px rgb(208, 255, 0);
   
}